#pragma once
const char* SSID = "your-wifi-ssid";
const char* PASSWORD = "your-wifi-password";

#define AUTHOR_EMAIL "your-email@gmail.com"
#define AUTHOR_PASSWORD "your-gmail-app-password"
#define RECIPIENT_EMAIL "recipient@example.com"
